
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:left;
}

#u0 {
  position:absolute;
  left:300px;
  top:190px;
  width:1300px;
  height:590px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:590px;
}
#u1 {
  position:absolute;
  left:2px;
  top:287px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}

#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:190px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:190px;
}
#u16 {
  position:absolute;
  left:2px;
  top:87px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:743px;
  top:54px;
  width:267px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:743px;
  top:104px;
  width:117px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:910px;
  top:101px;
  width:70px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:614px;
  top:51px;
  width:85px;
  height:80px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:32px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:510px;
  top:256px;
  width:950px;
  height:514px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:514px;
}
#u25 {
  position:absolute;
  left:2px;
  top:199px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}













#u37 {
  position:absolute;
  left:737px;
  top:340px;
  width:153px;
  height:56px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:56px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:743px;
  top:392px;
  width:597px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1193px;
  top:392px;
  width:87px;
  height:16px;
  color:#0000FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:560px;
  top:440px;
  width:850px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:833px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:850px;
  height:1px;
}
#u44 {
  position:absolute;
  left:610px;
  top:482px;
  width:110px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:640px;
  top:340px;
  width:60px;
  height:60px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:610px;
  top:520px;
  width:800px;
  height:176px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:176px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
