.my_account_mr{
	min-height:200px;
	padding-top:25px;
	border:1px solid #e8e8e8;
	overflow: hidden;
}
.my_account_mrdl{
	width:250px;
	height:112px;
	background:#fefbea;
	margin-left:22px;
	padding-top:26px;
	float:left;
}
.my_account_mrdl dt{
	color:#8c887d;
	font-size:14px;
	line-height:36px;
	text-align:center;
	font-weight: 400;
}
.my_account_mrdl dd{
	color:#8c887d;
	font-size:20px;
	text-align:center;
}
.my_account_mrdl1{
	background:#ecfbff;
}
.my_account_mrdl2{
	background:#fee4ed;
}

.my_account_search{
	height:75px;
	padding:35px 0 0 22px;
	float:left;
	width:100%;
	position: relative;
}

.my_account_choose{
	width:126px;
	height:24px;
	border:1px solid #eee;
	overflow:hidden;
	float:left;
	margin:0;
	margin-top:5px;
	background:url("../images/search_down.png") no-repeat 107px center;
	text-align:left;
	
}
.dropdown ul{
	min-width: 125px;
}
.dropdown ul.dropdown-menu{
	top:28px;
	left:40px;
	width:126px;
}
.dropdown ul.dropdown-menu li{
	width:126px;
}
.dropdown-menu li a{
	width:96px;
}
.my_account_choose:hover{
	background:#fff url("../images/search_down.png") no-repeat 107px center;
}

.my_account_kind{
	width:40px;
	height:30px;
	color:#606060;
	float:left;
	line-height:38px;	
}


/*----日历---------------------------*/
#start_date{
	width:200px;
	height:20px;
	border:1px solid #eee;
	margin-left:60px;
	margin-right:20px;
	background:url("../images/date.png") no-repeat center right;
} 
#end_date{
	width:200px;
	height:22px;
	border:1px solid #eee;
	margin-left:20px;
	background:url("../images/date.png") no-repeat center right;
} 

/*----搜索---------------------------*/
.my_account_search .my_account_sub{
	background:#fc2956;
	width:62px;
	height:24px;
	border:0;
	color:#fff;
	margin-left:20px;
	margin-top:-10px;
	border-radius:3px;	
}

